# Xcode
*.xcuserstate
*.xcworkspace/xcuserdata/
StreamStack/StreamStack.xcodeproj/project.xcworkspace/xcshareddata/
StreamStack/StreamStack.xcodeproj/xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
Package.resolved  # Uncommented to ignore SPM lock file
# Packages/       # Keep commented unless you want to exclude SPM source code

# macOS
.DS_Store         # Added for macOS cleanliness

# Optional: Remove if not using these tools
# CocoaPods
# Pods/

# Carthage
# Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output